# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib  #用到opengl库，不能忽略

# Executables
*.exe
*.out
*.app

#忽略文件夹
/.vs/*
/ipch/*
/MagicCube3D_Build/*

#忽略文件
*.sdf

